:root {
  --dark: #1f364b;
  --primary: #93c375;
  --secondary: #6d9eb3;
  --black: #121213;
  --featureRadius: 20px;
  --cardRadius: 0px;

  --sm: 450px;
  --md: 600px;
  --lg: 900px;
}

* {
  box-sizing: border-box;
}

.color-secondary {
  color: var(--secondary);
}

html {
  font-size: 18px;
  line-height: 1.3;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.015em;
  background: var(--black);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

a {
  color: var(--primary);
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}

.grid {
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

.intro {
  position: relative;
  z-index: 1;
  color: #fff;
  margin: 30px 0;
}

.intro--image {
  grid-column: span 2;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
@media (min-width: 600px) {
  .intro--image {
    display: block;
  }
}
.intro--text {
  position: relative;
  grid-column: span 6;
}
@media (min-width: 600px) {
  .intro--text {
    grid-column: span 4;
  }
}
.top-section {
  position: relative;
  background: var(--black);
  padding: 30px 0;
  overflow: hidden;
}

.aspect:after {
  content: "";
  display: block;
}
.aspect-portrait:after {
  padding-bottom: 160%;
}

.description {
  background: var(--black);
  color: #fff;
  overflow: hidden;
  padding: 60px 0;
}
.description--column {
  grid-column: span 6;
}
@media (min-width: 600px) {
  .description--column {
    grid-column: span 4;
  }
}

.past-work {
  background: var(--black);
  color: #fff;
  overflow: hidden;
  padding-bottom: 60px;
}
.past-work--logo {
  grid-column: span 2;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (min-width: 600px) {
  .past-work--logo {
    display: flex;
  }
}
.past-work--logo img {
  max-width: 200px;
  max-height: 100px;
  width: 100%;
  height: auto;
  display: block;
}
.past-work--logo svg {
  max-width: 140px;
  max-height: 100px;
  display: block;
}
.past-work--text {
  grid-column: span 6;
}
@media (min-width: 600px) {
  .past-work--text {
    grid-column: span 4;
  }
}
.past-work--item {
  margin-bottom: 40px;
  font-size: 16px;
  background: var(--dark);
  padding: 40px;
}
.past-work--item.is-highlighted {
  color: var(--dark);
  background: #fff;
}
.past-work--item *:first-child {
  margin-top: 0;
}
.past-work--item *:last-child {
  margin-bottom: 0;
}

.label {
  font-size: 16px;
  color: var(--secondary);
}
